<h1>Available functions</h1>
<div class="row">
    <div class="col-md-4">
        <ul class="list-group">
            <li class="list-group-item">
                <h3><a asp-controller="Brand" asp-action="List">Brands</a></h3>
            </li>
            <li class="list-group-item">
                <h3><a asp-controller="Category" asp-action="List">Categories</a></h3>
            </li>
            <li class="list-group-item">
                <h3><a asp-controller="Characteristic" asp-action="List">Characteristics</a></h3>
            </li>
            <li class="list-group-item">
                <h3><a asp-controller="Country" asp-action="List">Countries</a></h3>
            </li>
            <li class="list-group-item">
                <h3><a asp-controller="ProductsManagment" asp-action="List">Products managment</a></h3>
            </li>
            <li class="list-group-item">
                <h3><a asp-controller="Admin" asp-action="Staff">Staff</a></h3>
            </li>
        </ul>
    </div>
</div>