body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.field-validation-error {
    color: #F44336;
}

.input-validation-error {
    border: 1px solid #F44336;
    background-color: #FFEBEE
}

.validation-summary-errors {
    font-weight: bold;
    color: #F44336;
}

.navbar.navbar-inverse.navbar-fixed-top * :not(input) {
    color: white;
}

.navbar-toggle {
    background-color: #002071 !important;
    border-color: #002071 !important;
}

.navbar-inverse {
    background-color: #0d46a0;
    border-color: #0d46a0;
}

.navbar-nav li:hover {
    background-color: #002071;
    border-color: #002071;
}

.product-img {
    max-height: 156px;
    max-width: 120px;
}

.product-item {
    margin-top: 10px;
    padding: 10px;
    border: thin solid #0d46a0;
    border-radius: 10px;
    background: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
    background-color: #e3f2fd;
}

[v-cloak] {
    display: none;
}