<form method="get" asp-controller="Catalog" asp-action="Search" class="navbar-form navbar-right">
    <div class="input-group">
        <input type="text" autocomplete="off" class="form-control" placeholder="Search product..." id="query" name="query"/>
        <div class="input-group-btn">
          <button class="btn btn-primary" type="submit">
              <span class="glyphicon glyphicon-search"></span>
          </button>
        </div>
    </div>
</form>